/* wallet.css */
.wallet-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  margin-bottom: 20px;
}

.card {
  position: relative;
}




h2 {
  color: #fff;
  font-size: 24px;
  text-align: center;
}

.home-container {
  text-align: center;
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  margin-bottom: 30px;
}

.cta-buttons {
  display: flex;
  justify-content: center;
}

.cta-button {
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 16px;
  text-decoration: none;
  color: #fff;
  background-color: #007bff;
  border-radius: 5px;
}

.cta-button:hover {
  background-color: #0056b3;
}
